In [1]:
import pandas as pd
import numpy as np
import requests
import json

In [2]:
# Read the ED Visits data into a Pandas DataFrame
ed_visits_df = pd.read_csv('../../data/AZ-EDVisits.csv')
ed_visits_df.head()

,Name,Domain,Indicator,Year,GeogID,AgeGroup,Gender,Month,Measure,Value,ts,measureName,indicatorName,contentAreaName
0,NAVAJO,HSI,89,2011,4017,20,ALL,ALL,440,17.72,2023-04-18T10:21:46.240,Age-adjusted rate of emergency department visi...,Heat stress emergency department visits,Heat Stress Illness
1,NAVAJO,HSI,89,2011,4017,20,ALL,ALL,440,17.72,2023-04-18T10:21:46.240,Age-adjusted rate of emergency department visi...,Heat stress emergency department visits,Heat Stress Illness
2,PIMA,HSI,89,2011,4019,20,ALL,ALL,440,20.12,2023-04-18T10:21:46.240,Age-adjusted rate of emergency department visi...,Heat stress emergency department visits,Heat Stress Illness
3,PIMA,HSI,89,2011,4019,20,ALL,ALL,440,20.12,2023-04-18T10:21:46.240,Age-adjusted rate of emergency department visi...,Heat stress emergency department visits,Heat Stress Illness
4,PINAL,HSI,89,2011,4021,20,ALL,ALL,440,37.73,2023-04-18T10:21:46.240,Age-adjusted rate of emergency department visi...,Heat stress emergency department visits,Heat Stress Illness

In [3]:
#drop duplicates & rows with GeogID 'ALL'
ed_visits_df = ed_visits_df.drop_duplicates(keep='first')
ed_visits_df = ed_visits_df[ed_visits_df['GeogID']!= 'ALL']
ed_visits_df.head()

,Name,Domain,Indicator,Year,GeogID,AgeGroup,Gender,Month,Measure,Value,ts,measureName,indicatorName,contentAreaName
0,NAVAJO,HSI,89,2011,4017,20,ALL,ALL,440,17.72,2023-04-18T10:21:46.240,Age-adjusted rate of emergency department visi...,Heat stress emergency department visits,Heat Stress Illness
2,PIMA,HSI,89,2011,4019,20,ALL,ALL,440,20.12,2023-04-18T10:21:46.240,Age-adjusted rate of emergency department visi...,Heat stress emergency department visits,Heat Stress Illness
4,PINAL,HSI,89,2011,4021,20,ALL,ALL,440,37.73,2023-04-18T10:21:46.240,Age-adjusted rate of emergency department visi...,Heat stress emergency department visits,Heat Stress Illness
6,SANTA CRUZ,HSI,89,2011,4023,20,ALL,ALL,440,17.72,2023-04-18T10:21:46.240,Age-adjusted rate of emergency department visi...,Heat stress emergency department visits,Heat Stress Illness
8,YAVAPAI,HSI,89,2011,4025,20,ALL,ALL,440,12.76,2023-04-18T10:21:46.240,Age-adjusted rate of emergency department visi...,Heat stress emergency department visits,Heat Stress Illness

In [4]:
ed_visits_df = ed_visits_df[['Name', 'Year', 'Value', 'GeogID']]
ed_visits_df.rename(columns={'Name': 'county', 'Year': 'year', 'Value': 'ed_rate'}, inplace=True)
ed_visits_df.head()

       county  year  ed_rate GeogID
0      NAVAJO  2011    17.72   4017
2        PIMA  2011    20.12   4019
4       PINAL  2011    37.73   4021
6  SANTA CRUZ  2011    17.72   4023
8     YAVAPAI  2011    12.76   4025

In [5]:
# Export the cleaned DataFrame as a CSV file. 
ed_visits_df.to_csv("../data/cleaned-AZ-EDVisits2.csv", encoding='utf8', index=False)

In [ ]:
with open('../data/arizona-with-county-boundaries_1085.geojson') as f:
  response = json.load(f)

response

In [22]:
id = []
name = []
for i in response['features']:
    id.append(i['properties']['id'])
    name.append(i['properties']['name'])

print(id,name)

['04027', '04025', '04023', '04021', '04019', '04017', '04015', '04013', '04012', '04011', '04009', '04007', '04005', '04003', '04001'] ['Yuma', 'Yavapai', 'Santa Cruz', 'Pinal', 'Pima', 'Navajo', 'Mohave', 'Maricopa', 'La Paz', 'Greenlee', 'Graham', 'Gila', 'Coconino', 'Cochise', 'Apache']

In [24]:
both = list(zip(id, name))
print(both)

[('04027', 'Yuma'), ('04025', 'Yavapai'), ('04023', 'Santa Cruz'), ('04021', 'Pinal'), ('04019', 'Pima'), ('04017', 'Navajo'), ('04015', 'Mohave'), ('04013', 'Maricopa'), ('04012', 'La Paz'), ('04011', 'Greenlee'), ('04009', 'Graham'), ('04007', 'Gila'), ('04005', 'Coconino'), ('04003', 'Cochise'), ('04001', 'Apache')]