In [2]:
# Import dependencies
import pandas as pd
import numpy as np
pd.set_option('max_colwidth', 400)

### Extract the project 3 Data

### ED Visit Data

In [3]:
# Read the ED Visits data into a Pandas DataFrame
ed_visits_df = pd.read_csv('../data/AZ-EDVisits.csv')
ed_visits_df.head()

,Name,Domain,Indicator,Year,GeogID,AgeGroup,Gender,Month,Measure,Value,ts,measureName,indicatorName,contentAreaName
0,NAVAJO,HSI,89,2011,4017,20,ALL,ALL,440,17.72,2023-04-18T10:21:46.240,"Age-adjusted rate of emergency department visits for heat stress per 100,000 population",Heat stress emergency department visits,Heat Stress Illness
1,NAVAJO,HSI,89,2011,4017,20,ALL,ALL,440,17.72,2023-04-18T10:21:46.240,"Age-adjusted rate of emergency department visits for heat stress per 100,000 population",Heat stress emergency department visits,Heat Stress Illness
2,PIMA,HSI,89,2011,4019,20,ALL,ALL,440,20.12,2023-04-18T10:21:46.240,"Age-adjusted rate of emergency department visits for heat stress per 100,000 population",Heat stress emergency department visits,Heat Stress Illness
3,PIMA,HSI,89,2011,4019,20,ALL,ALL,440,20.12,2023-04-18T10:21:46.240,"Age-adjusted rate of emergency department visits for heat stress per 100,000 population",Heat stress emergency department visits,Heat Stress Illness
4,PINAL,HSI,89,2011,4021,20,ALL,ALL,440,37.73,2023-04-18T10:21:46.240,"Age-adjusted rate of emergency department visits for heat stress per 100,000 population",Heat stress emergency department visits,Heat Stress Illness

In [4]:
# Get a brief summary of the ED visits DataFrame.
ed_visits_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 320 entries, 0 to 319
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             320 non-null    object
 1   Domain           320 non-null    object
 2   Indicator        320 non-null    int64
 3   Year             320 non-null    int64
 4   GeogID           320 non-null    object
 5   AgeGroup         320 non-null    int64
 6   Gender           320 non-null    object
 7   Month            320 non-null    object
 8   Measure          320 non-null    int64
 9   Value            320 non-null    float64
 10  ts               320 non-null    object
 11  measureName      320 non-null    object
 12  indicatorName    320 non-null    object
 13  contentAreaName  320 non-null    object
dtypes: float64(1), int64(4), object(9)
memory usage: 35.1+ KB

In [5]:
# Get the ed_visits_df column names.
columns = list(ed_visits_df.columns)
print(columns)

['Name', 'Domain', 'Indicator', 'Year', 'GeogID', 'AgeGroup', 'Gender', 'Month', 'Measure', 'Value', 'ts', 'measureName', 'indicatorName', 'contentAreaName']

In [6]:
#Get the unique value counts in the columns
for i in columns: 
    print(i, ed_visits_df[i].nunique())

Name 16
Domain 2
Indicator 1
Year 11
GeogID 16
AgeGroup 1
Gender 1
Month 1
Measure 1
Value 158
ts 1
measureName 1
indicatorName 1
contentAreaName 1

In [7]:
#Pull Necessary columns and rename
ed_visits_df = ed_visits_df[['Name', 'Year', 'GeogID', 'Value']]
ed_visits_df.rename(columns={'Name': 'county', 'Year': 'year', 'GeogID': 'county_id', 'Value': 'number_of_visits'}, inplace=True)
ed_visits_df.head()

   county  year county_id  number_of_visits
0  NAVAJO  2011      4017             17.72
1  NAVAJO  2011      4017             17.72
2    PIMA  2011      4019             20.12
3    PIMA  2011      4019             20.12
4   PINAL  2011      4021             37.73

In [9]:
# Export the cleaned DataFrame as a CSV file. 
ed_visits_df.to_csv("../resources/cleaned-AZ-EDVisits.csv", encoding='utf8', index=False)

### Mortality Data

In [10]:
# Read the Mortality data into a Pandas DataFrame
mortality_df = pd.read_csv('../data/AZ-Mortality.csv')
mortality_df.head()

,Name,Domain,Indicator,Year,GeogID,Month,Measure,Value,ts,measureName,indicatorName,contentAreaName
0,COCONINO,HSI,67,2009-2011,4005,ALL,370,6.0,2023-04-18T10:21:46.240,"Number of summertime (May-Sep) heat-related deaths, by year",Heat-Related Mortality,Heat Stress Illness
1,COCONINO,HSI,67,2009-2011,4005,ALL,370,6.0,2023-04-18T10:21:46.240,Number of summertime (May-Sep) heat-related deaths,Heat-Related Mortality,Heat Stress Illness
2,GRAHAM,HSI,67,2009-2011,4009,ALL,370,0.0,2023-04-18T10:21:46.240,"Number of summertime (May-Sep) heat-related deaths, by year",Heat-Related Mortality,Heat Stress Illness
3,GRAHAM,HSI,67,2009-2011,4009,ALL,370,0.0,2023-04-18T10:21:46.240,Number of summertime (May-Sep) heat-related deaths,Heat-Related Mortality,Heat Stress Illness
4,GREENLEE,HSI,67,2009-2011,4011,ALL,370,0.0,2023-04-18T10:21:46.240,"Number of summertime (May-Sep) heat-related deaths, by year",Heat-Related Mortality,Heat Stress Illness

In [11]:
# Get a brief summary of the Mortality DataFrame.
mortality_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238 entries, 0 to 237
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             238 non-null    object
 1   Domain           238 non-null    object
 2   Indicator        238 non-null    int64
 3   Year             238 non-null    object
 4   GeogID           238 non-null    object
 5   Month            238 non-null    object
 6   Measure          238 non-null    int64
 7   Value            238 non-null    float64
 8   ts               238 non-null    object
 9   measureName      238 non-null    object
 10  indicatorName    238 non-null    object
 11  contentAreaName  238 non-null    object
dtypes: float64(1), int64(2), object(9)
memory usage: 22.4+ KB

In [12]:
# Get the mortality_df column names.
mort_columns = list(mortality_df.columns)
print(mort_columns)

['Name', 'Domain', 'Indicator', 'Year', 'GeogID', 'Month', 'Measure', 'Value', 'ts', 'measureName', 'indicatorName', 'contentAreaName']

In [13]:
#Get the unique value counts in the columns
for i in mort_columns: 
    print(i, mortality_df[i].nunique())

Name 16
Domain 1
Indicator 1
Year 11
GeogID 16
Month 1
Measure 1
Value 52
ts 1
measureName 2
indicatorName 1
contentAreaName 1

In [14]:
#Pull Necessary columns and rename
mortality_df = mortality_df[['Name', 'Year', 'GeogID', 'Value']]
mortality_df.rename(columns={'Name': 'county', 'Year': 'year', 'GeogID': 'county_id', 'Value': 'number_of_deaths'}, inplace=True)
mortality_df.head()

     county       year county_id  number_of_deaths
0  COCONINO  2009-2011      4005               6.0
1  COCONINO  2009-2011      4005               6.0
2    GRAHAM  2009-2011      4009               0.0
3    GRAHAM  2009-2011      4009               0.0
4  GREENLEE  2009-2011      4011               0.0

In [15]:
# Export the cleaned DataFrame as a CSV file. 
mortality_df.to_csv("../resources/cleaned_AZ-Mortality.csv", encoding='utf8', index=False)

### No Heat days Data

In [16]:
# Read the No Heat days data into a Pandas DataFrame
no_heat_days_df = pd.read_csv('../data/AZ-NoHeatDays.csv')
no_heat_days_df.head()

,Name,Domain,Indicator,Year,GeogID,Absolute_Threshold,Heat_Metric,Month,Measure,Value,ts,measureName,indicatorName,contentAreaName
0,APACHE,CC,79,2011,4001,90 degrees F,Daily Maximum Temperature,ALL,423,7.0,2020-09-25T12:21:32.060,Number of extreme heat days,Historical Extreme Heat Days and Events,Climate
1,COCHISE,CC,79,2011,4003,90 degrees F,Daily Maximum Temperature,ALL,423,89.0,2020-09-25T12:21:32.060,Number of extreme heat days,Historical Extreme Heat Days and Events,Climate
2,COCONINO,CC,79,2011,4005,90 degrees F,Daily Maximum Temperature,ALL,423,2.0,2020-09-25T12:21:32.060,Number of extreme heat days,Historical Extreme Heat Days and Events,Climate
3,GILA,CC,79,2011,4007,90 degrees F,Daily Maximum Temperature,ALL,423,81.0,2020-09-25T12:21:32.060,Number of extreme heat days,Historical Extreme Heat Days and Events,Climate
4,GRAHAM,CC,79,2011,4009,90 degrees F,Daily Maximum Temperature,ALL,423,121.0,2020-09-25T12:21:32.060,Number of extreme heat days,Historical Extreme Heat Days and Events,Climate

In [17]:
# Get a brief summary of the No Heat days DataFrame.
no_heat_days_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name                96 non-null     object
 1   Domain              96 non-null     object
 2   Indicator           96 non-null     int64
 3   Year                96 non-null     int64
 4   GeogID              96 non-null     object
 5   Absolute_Threshold  96 non-null     object
 6   Heat_Metric         96 non-null     object
 7   Month               96 non-null     object
 8   Measure             96 non-null     int64
 9   Value               96 non-null     float64
 10  ts                  96 non-null     object
 11  measureName         96 non-null     object
 12  indicatorName       96 non-null     object
 13  contentAreaName     96 non-null     object
dtypes: float64(1), int64(3), object(10)
memory usage: 10.6+ KB

In [18]:
#Get the no_heat_days_df column names.
no_heat_columns = list(no_heat_days_df.columns)
print(no_heat_columns)

['Name', 'Domain', 'Indicator', 'Year', 'GeogID', 'Absolute_Threshold', 'Heat_Metric', 'Month', 'Measure', 'Value', 'ts', 'measureName', 'indicatorName', 'contentAreaName']

In [19]:
#Get the unique value counts in the columns
for i in no_heat_columns: 
    print(i, no_heat_days_df[i].nunique())

Name 16
Domain 1
Indicator 1
Year 6
GeogID 16
Absolute_Threshold 1
Heat_Metric 1
Month 1
Measure 1
Value 72
ts 1
measureName 1
indicatorName 1
contentAreaName 1

In [20]:
#Pull Necessary columns and rename
no_heat_days_df = no_heat_days_df[['Name', 'Year', 'GeogID', 'Value']]
no_heat_days_df.rename(columns={'Name': 'county', 'Year': 'year', 'GeogID': 'county_id', 'Value': 'days_over_90'}, inplace=True)

no_heat_days_df.head()

     county  year county_id  days_over_90
0    APACHE  2011      4001           7.0
1   COCHISE  2011      4003          89.0
2  COCONINO  2011      4005           2.0
3      GILA  2011      4007          81.0
4    GRAHAM  2011      4009         121.0

In [21]:
# Export the cleaned DataFrame as a CSV file. 
no_heat_days_df.to_csv("../resources/cleaned_AZ-NoHeatDays.csv", encoding='utf8', index=False)

### Vulnerability Data

In [22]:
# Read the Vulnerability data into a Pandas DataFrame
vulnerability_df = pd.read_csv('../data/AZ_Vulnerability.csv')
vulnerability_df.head()

,Name,Domain,Indicator,Year,GeogID,Race_Ethnicity,Gender,Age_Group,Month,Measure,Value,measureName,indicatorName,contentAreaName
0,APACHE,PV,115,2010,4001,ALL,ALL,ALL,ALL,604,0.993,Overall percentile vulnerability rank,Social Vulnerability Index (ATSDR),Population Characteristics
1,COCHISE,PV,115,2010,4003,ALL,ALL,ALL,ALL,604,0.864,Overall percentile vulnerability rank,Social Vulnerability Index (ATSDR),Population Characteristics
2,COCONINO,PV,115,2010,4005,ALL,ALL,ALL,ALL,604,0.819,Overall percentile vulnerability rank,Social Vulnerability Index (ATSDR),Population Characteristics
3,GILA,PV,115,2010,4007,ALL,ALL,ALL,ALL,604,0.801,Overall percentile vulnerability rank,Social Vulnerability Index (ATSDR),Population Characteristics
4,GRAHAM,PV,115,2010,4009,ALL,ALL,ALL,ALL,604,0.984,Overall percentile vulnerability rank,Social Vulnerability Index (ATSDR),Population Characteristics

In [23]:
# Get a brief summary of the No Heat days DataFrame.
vulnerability_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             48 non-null     object
 1   Domain           48 non-null     object
 2   Indicator        48 non-null     int64
 3   Year             48 non-null     int64
 4   GeogID           48 non-null     object
 5   Race_Ethnicity   48 non-null     object
 6   Gender           48 non-null     object
 7   Age_Group        48 non-null     object
 8   Month            48 non-null     object
 9   Measure          48 non-null     int64
 10  Value            48 non-null     float64
 11  measureName      48 non-null     object
 12  indicatorName    48 non-null     object
 13  contentAreaName  48 non-null     object
dtypes: float64(1), int64(3), object(10)
memory usage: 5.4+ KB

In [24]:
#Get the no_heat_days_df column names.
vulnerability_columns = list(vulnerability_df.columns)
print(vulnerability_columns)

['Name', 'Domain', 'Indicator', 'Year', 'GeogID', 'Race_Ethnicity', 'Gender', 'Age_Group', 'Month', 'Measure', 'Value', 'measureName', 'indicatorName', 'contentAreaName']

In [25]:
#Get the unique value counts in the columns
for i in vulnerability_columns: 
    print(i, vulnerability_df[i].nunique())

Name 16
Domain 1
Indicator 1
Year 3
GeogID 16
Race_Ethnicity 1
Gender 1
Age_Group 1
Month 1
Measure 1
Value 44
measureName 1
indicatorName 1
contentAreaName 1

In [26]:
#Pull Necessary columns and rename
vulnerability_df = vulnerability_df[['Name', 'Year', 'GeogID', 'Value']]
vulnerability_df.rename(columns={'Name': 'county', 'Year': 'year', 'GeogID': 'county_id', 'Value': 'vulnerability_percentage'}, inplace=True)

vulnerability_df.head()

     county  year county_id  vulnerability_percentage
0    APACHE  2010      4001                     0.993
1   COCHISE  2010      4003                     0.864
2  COCONINO  2010      4005                     0.819
3      GILA  2010      4007                     0.801
4    GRAHAM  2010      4009                     0.984

In [27]:
# Export the cleaned DataFrame as a CSV file. 
vulnerability_df.to_csv("../resources/cleaned_AZ_Vulnerability.csv", encoding='utf8', index=False)